html,
body {
  width: 100%;
  height: 100%;
  font-size: 10px;
  background-color: #ffffff;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    overflow: hidden;
}

.header {
   max-width: 1280px;
   background-color: #F2E9D8;
}

.nav {
    width: 100%;
    height: 102px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-nav {
    width: 130px;
    height: 40px;
    margin: 41px 320px;
}

.menu-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 41px 436px;
}

.menu-wrap .button-function {
    position: relative;
    width: 140px;
    height: 50px;
    padding: 15px 30px;
    font-weight: bold;
    border: none;
    border-radius: 40px;
    background: #D97652;
    color: #fff;
}

.menu-cont {
    width: 46px;
    height: 20px;
    margin: 41px 30px;
}


.button-function {
    position: relative;
    width: 140px;
    height: 50px;
    font-weight: bold;
    border: none;
    border-radius: 40px;
    background: #D97652;
    color: #fff;
}

.main-article {
    display: flex;
    background-color: #F2E9D8;
}

/* .image-lyingcat {
    width: 660px;
    height: 390px;
    left: 320px;
    top: 1060px;
} */

.contents-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-lyingcat{
    width: 660px;
    height: 390px;
}

.img-cat {
    width: 378px;
    height: 378px;
}

.img-topcat {
    width: 1920px;
    height: 340px;
}

.more-wrap {
    display: flex;
}

.footer-wrap {
    display: flex;
}